@{
    ViewData["Title"] = "H&R Block";
}

<div class="text-center">
    <h1 class="display-4">Welcome to H&R Block Azure RM</h1>
    
    <img style="width: 100%; max-width: 700px;" src="~/resources/hrblock-logo.jpg"/>

</div>
