
@{
    ViewData["Title"] = "Subscription Details";
}

    <table id="example" class="display cell-border" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Resource Name</th>
                <th>Type</th>
                <!-- <th rowspan="2">Resource Group</th> -->
                <th>First_Time</th>
                <th>First Caller</th>
                <th>Last_Time</th>
                <th>Last Caller</th>
                <!-- <th rowspan="2">Sku</th> -->
                <!-- <th rowspan="2">Metric</th> -->
                <th>Location</th>
            </tr>

            <!-- <tr>

            <th>First Time</th>
            <th>First Caller</th>
            <th>Last Time</th>
            <th>Last Caller</th>

        </tr> -->
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Resource Name</th>
                <th>Type</th>
                <!-- <th>Resource Name</th> -->
                <th>First_Time</th>
                <th>First Caller</th>
                <th>Last_Time</th>
                <th>Last Caller</th>
                <!-- <th>Sku</th> -->
                <!-- <th>Metric</th> -->
                <th>Location</th>
            </tr>
        </tfoot>
    </table>

